body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    background-color: #1F2937; 
    margin-bottom: auto;
    min-height: 50px;
    flex: 1;
    padding-bottom: 100px;
}

ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 16px;
}

li {
    list-style-type: none;
}

.header-element-text {
    color: #F9FAF8;
    font-size: 24px;
}

.header-element-link {
    color: #E8E7EB;
    font-size: 18px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-bottom: 200px;
    align-items: center;
    background-color: #1F2937;
    height: 400px;
}

.image {
    display: flex;
    margin-right: 10%;
    margin-left: 0%;
    background-color: darkgray;
    flex: 1;
    height: 100%;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    word-wrap: wrap;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 45vw;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    color: white;
  }